<p id="notice"><%= notice %></p>

<p>
  <b>Meta:</b>
  <%= @textual_page.meta %>
</p>

<p>
  <b>Content:</b>
  <%= @textual_page.content %>
</p>

<p>
  <b>Title:</b>
  <%= @textual_page.title %>
</p>


<%= link_to 'Edit', edit_textual_page_path(@textual_page) %> |
<%= link_to 'Back', textual_pages_path %>
